{% extends 'layouts/storetree.twig' %}

{% block content %}
    <!-- Page Content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h1>Edit {{ item.name }} <small> ({{ item.id }}) and its components</small></h1>
            </div>

            <ol class="breadcrumb">
                <li><a href="{{ route('storetree') }}">Home</a></li>
                <li><a href="{{ route('items.index') }}">Items</a></li>
                <li class="active">{{ item.name }}</li>
            </ol>

            <div class="row">

                <div class="col-lg-12">
                    <form class="form-horizontal" action="{{ route('items.update', {id: item.id}) }}" method="post">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Edit Item</div>

                            <div class="panel-body">
                                {% if errors|length %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="alert alert-danger" role="alert">
                                                <strong>Error</strong>
                                                <ul>
                                                    {% for error in errors.all %}
                                                        <li><span>{{ error }}</span></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% include 'Item/form_edit.twig' %}

                                <hr>

                                {% include 'Item/form_edit_advanced.twig' %}
                            </div>

                            <div class="panel-footer">
                                <a class="btn btn-default" href="{{ route('items.show', {id: item.id}) }}">Back</a>
                                <button type="submit" class="btn btn-primary pull-right">Edit item</button>
                                <input type="hidden" name="id" value="{{ item.id }}">

                                {{ csrf_field() }}
                                {{ method_field('PUT') }}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <style>
        .tooltip-inner {
            display: inline-block;
            max-width: 350px;
            min-width: 100px;
            height: auto;
        }
    </style>
{% endblock %}

{% block pageJs %}
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal',
                radioClass: 'iradio_minimal',
                increaseArea: '20%'
            });

            $("#item-recipe").on('change', function () {
               $("#base-class-addon").html(
                   $(this).is(':checked') ?
                       'item_recipe_' :
                       'item_'
               );
            });

            $("#base-item").on('ifChanged', function () {
               $("#item_cost").attr('disabled', !$(this).is(':checked'));
            });

            $("#is-purchasable").on('ifChanged', function () {
               $("#item_shop").attr('disabled', !$(this).is(':checked'));
            });

            $('#needs-charges').on('ifChanged', function () {
                $('#item-start-charges').attr('disabled', !$(this).is(':checked'));
            });

            $("#is-alertable").on('ifChanged', function () {
                $("#item-alert-text").attr('disabled', !$(this).is(':checked'));
            });
        });
    </script>
{% endblock %}