{% extends 'layouts/storetree.twig' %}

{% block content %}
<!-- Page Content -->

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Edit {{ item.name }} <small> ({{ item.id }}) and its components</small></h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="{{ route('storetree') }}">Home</a></li>
            <li><a href="{{ route('items.index') }}">Items</a></li>
            <li><a href="{{ route('items.show', {id: item.id}) }}">{{ item.name }}</a></li>
            <li class="active">Components</li>
        </ol>

        <div class="row">
            <div class="col-lg-12">
                <form class="form-horizontal" action="{{ route('items.update.components', {id: item.id}) }}" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">Update components</div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="">&nbsp;</label>
                                            </div>
                                        </div>
                                    {% for recipe in item.recipes %}
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 text-danger" for="item_recipe_{{ recipe.id }}">Components to remove</label>
                                                <div class="col-lg-10">
                                                    <select id="item_recipe_{{ recipe.id }}" name="components_remove[{{ recipe.id }}][]" multiple class="form-control" style="height: auto">
                                                        {% for comp in recipe.components %}
                                                            <option value="{{ comp.id }}">{{ comp.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-lg-12">
                                            <p class="text-info">No recipes yet</p>
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="control-label col-lg-2 text-success" for="item_shop">Create new recipe</label>
                                                <div class="col-lg-10">
                                                    <select id="item_shop" name="components_add[0][]" multiple class="form-control select2">
                                                        {% for item in items %}
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        {% for recipe in item.recipes %}
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <label class="control-label col-lg-2 text-success" for="item_shop">Add components to ({{ recipe.id }})</label>
                                                    <div class="col-lg-10">
                                                        <select id="item_shop" name="components_add[{{ recipe.id }}][]" multiple class="form-control select2" style="height: 300px">
                                                            {% for item in items %}
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer">
                            <a class="btn btn-default" href="{{ route('items.show', {id: item.id}) }}">Back</a>
                            <button type="submit" class="btn btn-warning pull-right clearfix">Update components</button>
                            <input type="hidden" name="id" value="{{ item.id }}">

                            {{ csrf_field() }}
                            {{ method_field('PUT') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block inlineJs %}
    <script type="application/javascript">
        $(function () {
            $('.select2').select2({
                theme: "bootstrap"
            });
        });
    </script>
{% endblock %}