{% extends 'layouts/storetree.twig' %}

{% block content %}
    <!-- Page Content -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h1>Edit {{ item.name }} <small> ({{ item.id }}) and its components</small></h1>
            </div>

            <ol class="breadcrumb">
                <li><a href="{{ route('storetree') }}">Home</a></li>
                <li><a href="{{ route('items.index') }}">Items</a></li>
                <li class="active">{{ item.name }}</li>
            </ol>

            <div class="row">

                <div class="col-lg-12">
                    <form class="form-horizontal" action="{{ route('items.update', {id: item.id}) }}" method="post">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Edit Item</div>

                            <div class="panel-body">
                                {% if errors|length %}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="alert alert-danger" role="alert">
                                                <strong>Error</strong>
                                                <ul>
                                                    {% for error in errors.all %}
                                                        <li><span>{{ error }}</span></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                {% include 'Item/form_edit.twig' %}
                            </div>

                            <div class="panel-footer">
                                <a class="btn btn-default" href="{{ route('items.show', {id: item.id}) }}">Back</a>
                                <button type="submit" class="btn btn-primary pull-right">Edit item</button>
                                <input type="hidden" name="id" value="{{ item.id }}">

                                {{ csrf_field() }}
                                {{ method_field('PUT') }}
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-lg-12">
                    <form class="form-horizontal" action="{{ route('items.update.components', {id: item.id}) }}" method="post">
                        <div class="panel panel-default">
                            <div class="panel-heading">Update components</div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 text-danger" for="item_shop">Components to remove</label>
                                            <div class="col-lg-10">
                                                <select id="item_shop" name="components_remove[]" multiple class="form-control" style="height: 300px">
                                                    {% for item in item.components %}
                                                        <option value="{{ item.pivot.id }}">{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="control-label col-lg-2 text-success" for="item_shop">Components to add</label>
                                            <div class="col-lg-10">
                                                <select id="item_shop" name="components_add[]" multiple class="form-control select2" style="height: 300px">
                                                    {% for item in items %}
                                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="panel-footer">
                                <a class="btn btn-default" href="{{ route('items.show', {id: item.id}) }}">Back</a>
                                <button type="submit" class="btn btn-warning pull-right clearfix">Update components</button>
                                <input type="hidden" name="id" value="{{ item.id }}">

                                {{ csrf_field() }}
                                {{ method_field('PUT') }}
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block inlineJs %}
    <script type="application/javascript">
        $(function () {
            $('.select2').select2({
                theme: "bootstrap"
            });
        });
    </script>
{% endblock %}