{% extends 'layouts/storetree.twig' %}

{% block content %}
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h1>Items <small>list, create, add, modify, update</small></h1>
            </div>

            <ol class="breadcrumb">
                <li><a href="{{ route('storetree') }}">Home</a></li>
                <li class="active">Items</li>
            </ol>

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Add a new Items</div>

                        <div class="panel-body">
                            <a href="{{ route('items.create') }}" class="btn btn-default">Add new</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Search Items</div>

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-12">
                                    {% include 'Item/list.twig' with {items: items} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#<div class="col-lg-12">
                    <ul>
                        {% for item in items %}
                            {{ _self.item_components(item) }}
                        {% endfor %}
                    </ul>
                </div>#}
            </div>
        </div>
    </div>
    <!-- /#page-content--wrapper -->
{% endblock %}

{% block inlineJs %}
    <script type="application/javascript">
        $(function () {
            $('.dataTable').dataTable();
        });
    </script>
{% endblock %}

{% macro item_components(item) %}
    <li>
        {% if item.is_base_item %}
            <strong>{{ item.name }}</strong>: {{ item.totalCost }} gold
        {% else %}
            {% set totalCost = item.cost ? item.totalCost~" ("~item.cost~")" : item.totalCost %}
            <strong>{{ item.name }}</strong>: {{ totalCost }} gold
            <ul>
                {% for component in item.components %}
                    {{ _self.item_components(component) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
