<table class="dataTable table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Cost</th>
            <th>Boss Item</th>
            <th>Base Item</th>
            <th>Level</th>
            <th>Recipes</th>
            <th>Shops</th>
            <th>Languages</th>
            <th>Modified</th>
            <th>#</th>
        </tr>
    </thead>

    <tbody>
        {% for item in items %}
            {# @var Item item #}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.totalCost }}</td>
                <td>{{ item.is_boss_item ? "Y" : "N" }}</td>
                <td>{{ item.is_base_item ? "Y" : "N" }}</td>
                <td>{{ item.base_level }}/{{ item.max_level }}</td>
                <td>{{ item.recipes.count }}</td>
                <td>
                    {% for shop in item.shops %}
                        {{ shop.name }}<br>
                    {% else %}
                        No shops set
                    {% endfor %}
                </td>
                <td>
                    {% for lang in item.locale %}
                        {{ langs[ lang.language_id ] }}<br>
                    {% else %}
                        No translations set
                    {% endfor %}
                </td>
                <td>{{ item.updated_at.format('m-d H:i:s') }}</td>
                <td>
                    <a class="btn btn-sm btn-block btn-warning" href="{{ route('items.show', {id: item.id}) }}">
                        <i class="fa fa-window-maximize"></i>&nbsp;view
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>No items found</td>
                <td colspan="6">&nbsp;</td>
            </tr>
        {% endfor %}
    </tbody>
</table>