{% extends 'layouts/storetree.twig' %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h1>{{ item.name }} <small>Id: {{ item.id }}</small> <code>{{ item.base_class }}</code></h1>
            </div>

            <ol class="breadcrumb">
                <li><a href="{{ route('storetree') }}">Home</a></li>
                <li><a href="{{ route('items.index') }}">Items</a></li>
                <li class="active">{{ item.name }}</li>
            </ol>

            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        This is what we know
                        {% if Auth.user.can('edit_item_data') %}
                            <button id="deleteButton" class="btn btn-danger btn-sm pull-right">Delete</button>
                            <a href="{{ route('items.copy', {id: item.id}) }}" class="btn btn-success">Copy</a>
                        {% endif %}
                    </h2>
                    {% if Auth.user.can('delete') %}
                    <form id="deleteForm" action="{{ route('items.destroy', {id: item.id}) }}" method="post">
                        {{ csrf_field() }}
                        {{ method_field('DELETE') }}
                    </form>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <!-- Left side -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Basic info <small class="pull-right">fyi</small></div>

                                <div class="panel-body">
                                    <p>Data</p>

                                    <dl class="dl-horizontal">
                                        <dt>Id</dt><dd>{{ item.id }}</dd>
                                        <dt>Name</dt><dd>{{ item.name }}</dd>
                                        <dt>Cost</dt><dd>{{ item.getTotalCostAttribute(true) }} g</dd>
                                        <dt>Description</dt><dd>{{ item.description|nl2br }}</dd>
                                        <dt>Base item</dt><dd>{{ item.is_base_item ? 'Yes' : 'No' }}</dd>
                                        <dt>Boss item</dt><dd>{{ item.is_boss_item ? 'Yes' : 'No' }}</dd>
                                        <dt>Recipe</dt><dd>{{ item.is_recipe ? 'Yes' : 'No' }}</dd>
                                        <dt>Consumable</dt><dd>{{ item.is_consumable ? 'Yes' : 'No' }}</dd>
                                        <dt>Aliases</dt><dd>{{ item.aliases|join(', ') }}</dd>
                                        <dt>Shop tags</dt><dd>{{ item.shop_tags|join(', ') }}</dd>
                                        <dt>Override</dt><dd>{{ item.is_override ? 'Yes' : 'No' }}</dd>
                                    </dl>

                                    <p>Shops</p>

                                    <ul>
                                        {% if item.is_purchasable %}
                                            {% for shop in item.shops %}
                                                <li><a href="{{ route('shops.show', {id: shop.id}) }}">{{ shop.name }}</a></li>
                                            {% else %}
                                                <li>No shops added yet</li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="text-danger">This item isn't purchasable</li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="panel-footer">
                                    <div class="row">
                                        {% if Auth.user.can('edit_items_data') %}
                                            <div class="col-lg-2">
                                                <a href="{{ route('items.edit', {id: item.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                                            </div>
                                        {% endif %}

                                        <div class="col-lg-2 col-lg-offset-6">
                                            <a class="btn btn-warning btn-sm" href="{{ route('item.tooltip', {id: item.id}) }}" target="_blank">
                                                tooltip.txt
                                            </a>
                                        </div>

                                        <div class="col-lg-2">
                                            <a class="btn btn-warning btn-sm pull-right" href="{{ route('item.lua', {id: item.id}) }}" target="_blank">
                                                item.txt
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-success">
                                <div class="panel-heading">Translations</div>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for lang in item.locale %}
                                            <a class="list-group-item">
                                                <h4 class="list-group-item-heading">{{ langs[ lang.language_id ] }}</h4>
                                                <p class="list-group-item-text">
                                                    <label class="{{ lang.name ?: "text-danger" }}">
                                                        <input type="checkbox"{{ lang.name ? " checked" }} disabled>Name
                                                    </label>
                                                    <label class="{{ lang.description ?: "text-danger" }}">
                                                        <input type="checkbox"{{ lang.description ? " checked" }} disabled>Description
                                                    </label>
                                                    <label class="{{ lang.lore ?: "text-danger" }}">
                                                        <input type="checkbox"{{ lang.lore ? " checked" }} disabled>Lore
                                                    </label>
                                                    <label class="{{ lang.note ?: "text-danger" }}">
                                                        <input type="checkbox"{{ lang.note ? " checked" }} disabled>Note
                                                    </label>
                                                </p>
                                            </a>
                                        {% else %}
                                            <a href="#" class="list-group-item disabled">No translations yet</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if Auth.user.can('edit_item_locale') %}
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <a href="{{ route('items.edit.translations', {id: item.id}) }}" class="btn btn-primary">
                                                    Manage
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-warning">
                                <div class="panel-heading">Advanced properties <small class="pull-right">for the scripts</small></div>

                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>Dota Id</dt><dd>{{ item.dota_id }}</dd>
                                        <dt>Dota class</dt><dd><code>{{ item.base_class }}</code></dd>
                                        <dt>Script file</dt><dd><code>{{ item.script }}</code></dd>
                                        <dt>Max level</dt><dd>{{ item.max_level }}</dd>
                                        <dt>Base level</dt><dd>{{ item.base_level }}</dd>
                                        <dt>Is killable</dt><dd>{{ item.is_killable ? 'Yes' : 'No' }}</dd>
                                        <dt>Is sellable</dt><dd>{{ item.is_sellable ? 'Yes' : 'No' }}</dd>
                                        <dt>Is purchasable</dt><dd>{{ item.is_purchasable ? 'Yes' : 'No' }}</dd>
                                        <dt>Is droppable</dt><dd>{{ item.is_droppable ? 'Yes' : 'No' }}</dd>
                                        <dt>Is backpackable</dt><dd>{{ item.in_backpack ? 'Yes' : 'No' }}</dd>
                                        <dt>Is permanent</dt><dd>{{ item.is_permanent ? 'Yes' : 'No' }}</dd>
                                        <dt>Stack size</dt><dd>{{ item.stack_size }}</dd>
                                        <dt>Model path</dt><dd><code>{{ item.model }}</code></dd>
                                        <dt>Fight recap level</dt><dd>{{ item.fight_recap }}</dd>
                                        <dt>Quality level</dt><dd>{{ item.quality }}</dd>
                                        <dt>Share flags</dt><dd><code>{{ item.share }}</code></dd>
                                        <dt>Needs charges</dt><dd>{{ item.needs_charges ? 'Yes' : 'No' }}</dd>
                                        <dt>Start charges</dt><dd>{{ item.start_charges }}</dd>
                                        <dt>Show charges</dt><dd>{{ item.show_charges ? 'Yes' : 'No' }}</dd>
                                        <dt>Autocast on pickup</dt><dd>{{ item.is_autocast ? 'Yes' : 'No' }}</dd>
                                        <dt>Is Alertable</dt><dd>{{ item.is_alertable ? 'Yes' : 'No' }}</dd>
                                        <dt>Alert text</dt><dd>{{ item.alert_text }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Right side -->
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            {% if not item.is_base_item %}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Recipes</div>

                                    <div class="panel-body">
                                        {% for recipe in item.recipes %}
                                            <p>#{{ loop.index }}</p>
                                            <div class="list-group">
                                                {% for comp in recipe.components %}
                                                    <a class="list-group-item bg-primary"
                                                       href="{{ route('items.show', {id: comp.id}) }}">
                                                        {{ comp.name }} -
                                                        {% if comp.is_boss_item %}
                                                            <s>{{ comp.getTotalCostAttribute(true) }}</s>
                                                        {% else %}
                                                            {{ comp.getTotalCostAttribute(true) }}
                                                        {% endif %}
                                                        <small>g</small>
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    {% if Auth.user.can('edit_item_data') %}
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <a href="{{ route('items.edit.components', {id: item.id}) }}"
                                                       class="btn btn-primary btn-sm">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="col-lg-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Builds into</div>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for recipe in item.usedInRecipes %}
                                            <a class="list-group-item"
                                               href="{{ route('items.show', {id: recipe.for.id}) }}">
                                                {{ recipe.for.name }} -
                                                {% if recipe.for.is_boss_item %}
                                                    <s>{{ recipe.for.getTotalCostAttribute(true) }}</s>
                                                {% else %}
                                                    {{ recipe.for.getTotalCostAttribute(true) }}
                                                {% endif %}
                                                <small>g</small>
                                            </a>
                                        {% else %}
                                            <a class="list-group-item">No related items</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if not item.is_recipe %}
                            <div class="col-lg-12">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">Stats
                                        {% if item.max_level > 1 %}
                                            <small class="pull-right">yellow stats are inherited from lvl1</small>
                                        {% endif %}
                                    </div>

                                    <div class="panel-body">
                                        <dl class="dl-horizontal">
                                            {% for stat in item.stats %}
                                                <dt><abbr class="{{ stat.inherited ? 'bg-warning' }}" title="{{ stat.dota_name }}">{{ stat.name }}</abbr></dt>
                                                <dd>
                                                    {% for i, v in stat.pivot.value %}
                                                        {% if i == (item.base_level - 1) or loop.length == 1 %}
                                                            <strong>{{ v }}</strong>
                                                        {% else %}
                                                            {{ v }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </dd>
                                            {% else %}
                                                <dt>No</dt><dd>stats available</dd>
                                            {% endfor %}
                                        </dl>
                                    </div>

                                    {% if Auth.user.can('edit_item_stats') %}
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <a href="{{ route('items.edit.stats', {id: item.id}) }}"
                                                       class="btn btn-primary btn-sm">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                        </div>
                        {% endif %}


                        {% if not item.is_recipe %}
                        <div class="col-lg-12">
                            <div class="panel panel-danger">
                                <div class="panel-heading">Item Ability <small class="pull-right">Only one for now</small></div>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for ability in item.ability %}
                                            <a class="list-group-item"
                                               href="{{ route('abilities.show', {id: ability.id}) }}">{{ ability.name }}</a>
                                            <br>
                                            <dl class="dl-horizontal">
                                                {% for key, value in ability.getAttributes() %}
                                                    {% set realValue = attribute(ability, key) %}
                                                    {% if value %}
                                                        <dt>{{ key }}</dt>
                                                        <dd>
                                                            {% if realValue is iterable %}
                                                                {% if key in stringArrays %}
                                                                    {{ realValue|join(' <strong>|</strong> ')|raw }}
                                                                {% else %}
                                                                    {% for i, v in realValue %}
                                                                        {% if (i == (item.base_level - 1) or loop.length == 1) %}
                                                                            <strong>{{ v }}</strong>
                                                                        {% else %}
                                                                            {{ v }}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% else %}
                                                                {{ realValue }}
                                                            {% endif %}
                                                        </dd>
                                                    {% endif %}
                                                {% endfor %}
                                            </dl>
                                        {% else %}
                                            <a href="#" class="list-group-item disabled">No abilities</a>
                                        {% endfor %}
                                    </div>
                                </div>

                                {% if Auth.user.can('edit_item_abilities') %}
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <a href="{{ route('items.edit.abilities', {id: item.id}) }}"
                                                   class="btn btn-primary btn-sm">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block inlineJs %}
    <script type="application/javascript">
        $(function () {
            $('#deleteButton').on('click', function() {
                "use strict";

                if( confirm('Are you sure?') ) {
                    $("#deleteForm").trigger('submit');
                }
            });

            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-green',
                radioClass: 'iradio_minimal',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}
