{% extends 'layouts/storetree.twig' %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h1>{{ item.name }} <small>Id: {{ item.id }}</small></h1>
            </div>

            <ol class="breadcrumb">
                <li><a href="{{ route('storetree') }}">Home</a></li>
                <li><a href="{{ route('items.index') }}">Items</a></li>
                <li class="active">{{ item.name }}</li>
            </ol>

            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        &nbsp;
                        <a href="{{ route('items.edit', {id: item.id}) }}" class="btn btn-primary btn-sm pull-right">Edit</a>
                    </h2>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Basic info</div>

                        <div class="panel-body">
                            <p>Data</p>

                            <dl class="dl-horizontal">
                                <dt>Id</dt><dd>{{ item.id }}</dd>
                                <dt>Name</dt><dd>{{ item.name }}</dd>
                                <dt>Cost</dt><dd>{{ item.totalCost }} g</dd>
                                <dt>Description</dt><dd>{{ item.description|nl2br }}</dd>
                                <dt>Base item</dt><dd>{{ item.is_base_item ? 'Yes' : 'No' }}</dd>
                                <dt>Boss item</dt><dd>{{ item.is_boss_item ? 'Yes' : 'No' }}</dd>
                                <dt>Recipe</dt><dd>{{ item.is_recipe ? 'Yes' : 'No' }}</dd>
                                <dt>Consumable</dt><dd>{{ item.is_consumable ? 'Yes' : 'No' }}</dd>
                            </dl>

                            <p>Shops</p>

                            <ul>
                                {% for shop in item.shops %}
                                    <li><a href="{{ route('shops.show', {id: shop.id}) }}">{{ shop.name }}</a></li>
                                {% else %}
                                    <li>No shops added yet</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    {% if not item.is_base_item %}
                    <div class="panel panel-default">
                        <div class="panel-heading">Components</div>

                        <div class="panel-body">
                            <div class="list-group">
                                {% for comp in item.components %}
                                    <a class="list-group-item bg-primary" href="{{ route('items.show', {id: comp.id}) }}">{{ comp.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-heading">Builds into</div>

                        <div class="panel-body">
                            <div class="list-group">
                                {% for comp in item.buildsInto %}
                                    <a class="list-group-item" href="{{ route('items.show', {id: comp.id}) }}">{{ comp.name }}</a>
                                {% else %}
                                    <a class="list-group-item">No related items</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}