    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="stat-name"
                       data-toggle="tooltip" title="A nice name to recognize">Name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="stat-name"
                           placeholder="Bonus true damage" name="name"
                           value="{{ request.name ?? stat.name }}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label" for="stat-dota-name"
                       data-toggle="tooltip" title="The name if the stat in Lua">Dota class name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="stat-dota-name"
                           placeholder="bonus_true_damage" name="dota_name"
                           value="{{ request.dota_name ?? stat.dota_name }}">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-4" for="stat-var-type"
                       data-toggle="tooltip" title="Does it have decimals?">Value type</label>
                <div class="col-lg-8">
                    <select id="stat-var-type" name="var_type" class="form-control">
                        {% for type in varTypes %}
                            {% set selected = (request.var_type ?? stat.var_type) == type ? ' selected' : '' %}
                            <option value="{{ type }}"{{ selected }}>{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="form-group">
                <label class="col-lg-4 control-label" for="stat-group"
                       data-toggle="tooltip" title="Used for suggestions in the item stat editor">Group name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="stat-group"
                           placeholder="bash" name="stat_group"
                           value="{{ request.stat_group ?? stat.stat_group }}">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-1 col-sm-8">
                    <div class="checkbox">
                        <label data-toggle="tooltip" title="If true, an % wil be added to the stats description">
                            <input type="checkbox" name="is_percent"
                                   value="1" {{ (request.is_percent ?? stat.is_percent) ? 'checked="checked"' }}> Percent
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-4 control-label" for="stat-var-name"
                       data-toggle="tooltip" title="The variables name used in tooltips, if omitted the stats class_name will be used without the leading `bonus_`">Variable name</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="stat-var-name"
                           placeholder="true_damage" name="var_name"
                           value="{{ request.var_name ?? stat.var_name  }}">
                </div>
            </div>
        </div>
    </div>