<!DOCTYPE html>
<html lang="{{ config('app.locale') }}">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex,nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="{{ "asd" }}">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <title>{{ config('app.name') }}</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">
        <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        <link href="{{ asset('css/datatables-bootstrap3.css') }}" rel="stylesheet">
        {#<link href="{{ asset('css/mat.min.css') }}" rel="stylesheet">#}
        <link rel="stylesheet" href="{{ asset('css/_all.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

        {% block styleSheets %}
        {% endblock %}

        <script type="application/javascript">
            window.Laravel = {csrfToken: '{{ csrf_token() }}'};
        </script>
    </head>

    <body lang="{{ config('app.locale') }}">
        {% if hasSideBar %}
        <div id="wrapper">
        {% endif %}

            {% block sidebar %}
            {% endblock %}

                <div class="container-fluid">
                    <div id="top-bar" class="row">
                        {% if Auth.check() %}
                        <div id="greeting" class="col-lg-4">
                            Hey {{ Auth.user.name }}! you are <strong>{{ Auth.user.roles.pluck('display_name')|join(', ') }}</strong>
                        </div>
                        {% endif %}
                        <div class="col-lg-4 col-md-4 col-sm-12 links pull-right">
                            {% if Auth.Check() %}
                                <form action="{{ route('logout') }}" method="post">
                                    <button type="submit" title="what do you think?" class="btn btn-link pull-right">Getout</button>
                                    {{ csrf_field() }}
                                </form>
                            {% else %}
                                <a href="{{ route('login') }}" class="btn btn-link pull-right">Login</a>
                                <a href="{{ route('register') }}" title="yes, register" class="btn btn-link pull-right">Getin</a>
                            {% endif %}
                        </div>

                        <div class="col-lg-8">
                            <div class="row">
                                {% if errors|length or Session.get('success') or Session.get('warning') %}
                                <div class="col-lg-12">
                                    <div class="alert" role="alert">
                                        {% include 'messages/header/errors.twig' %}
                                        {% include 'messages/header/warning.twig' %}
                                        {% include 'messages/header/messages.twig' %}
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Page Content -->
                {% block content %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                        </div>
                    </div>
                </div>
                {% endblock %}
                <!-- /#page-content-wrapper -->

        {% if hasSideBar %}
        </div>
        <!-- /#wrapper -->
        {% endif %}

        {#<script src="{{ asset('js/tether.js') }}" type="application/javascript"></script>#}
        <script src="{{ asset('js/app.js') }}" type="application/javascript"></script>

        {% block pageJs %}{% endblock %}
        {% block inlineJs %}{% endblock %}

        {% block debug %}
            <script src="{{ asset('js/icheck.js')}}"></script>
            {#<script type="application/javascript" src="{{ asset('js/mat.min.js') }}"></script>#}
            {#{{ dump() }}#}
        {% endblock %}

        <script type="application/javascript">
            $(function () {
               /* $('input').iCheck({
                    checkboxClass: 'icheckbox_minimal',
                    radioClass: 'iradio_minimal',
                    increaseArea: '-10%' // optional
                });*/
                $('[data-toggle="popover"]').popover({
                    html: true
                });
            });

            $(window).on('load', function() {
                //$.material.init();
            });
        </script>
    </body>
</html>