{% extends 'layouts/layout.twig' %}

{% set hasSideBar = true %}

{% block sidebar %}
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="{{ route('home') }}">
                    <i class="fa fa-3x fa-arrow-left pull-left"></i>
                </a>
            </li>

            <li class="{{ Route.currentRouteName == 'storetree' ? 'active' : '' }}">
                <a href="{{ route('storetree') }}">Overview</a>
            </li>

            <li class="{{ Route.currentRouteName == 'items.index' ? 'active' : '' }}">
                <a href="{{ route('items.index') }}">Items</a>
            </li>

            <li class="{{ Route.currentRouteName == 'shops.index' ? 'active' : '' }}">
                <a href="{{ route('shops.index') }}">Shops</a>
            </li>

            <li class="{{ Route.currentRouteName == 'builds.index' ? 'active' : '' }}">
                <a href="{{ route('builds.index') }}">Builds</a>
            </li>

            <li class="{{ Route.currentRouteName == 'stats.index' ? 'active' : '' }}">
                <a href="{{ route('stats.index') }}">Stats</a>
            </li>

            <li class="{{ Route.currentRouteName == 'abilities.index' ? 'active' : '' }}">
                <a href="{{ route('abilities.index') }}">Abilities</a>
            </li>

            {% if Auth.user.can('export') %}
                <li class="{{ Route.currentRouteName == 'export.index' ? 'active' : '' }}">
                    <a href="{{ route('export.index') }}">Export</a>
                </li>
            {% endif %}

            {% if Auth.user.can('import') %}
                <li class="{{ Route.currentRouteName == 'import.index' ? 'active' : '' }}">
                    <a href="{{ route('import.index') }}">Import</a>
                </li>
            {% endif %}

            {% if Auth.user.can('edit_users') %}
                <li class="{{ Route.currentRouteName == 'users.index' ? 'active' : '' }}">
                    <a href="{{ route('users.index') }}">Users</a>
                </li>
            {% endif %}

            <li class="{{ Route.currentRouteName == 'utils.index' ? 'active' : '' }}">
                <a href="{{ route('utils.index') }}">Utilities</a>
            </li>
        </ul>
    </div>
{% endblock %}
