{% extends 'layouts/storetree.twig' %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="page-header">
                <h1>Import
                    <small>want some data?</small>
                </h1>
            </div>

            <ol class="breadcrumb">
                <li>
                    <a href="{{ route('storetree') }}">Home</a>
                </li>
                <li class="active">Import</li>
            </ol>

            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <form enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <input type="file" id="exampleInputFile" name="uploadedFile[]" multiple="multiple" />
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </div>
                        </div>

                        <button type="submit">Upload</button>

                        {{ csrf_field() }}
                    </form>
                </div>

                <div class="col-lg-6 col-sm-6 col-xs-12">

                    <ul>
                        {% for file in files %}
                            <li><a>{{ file }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <form>
                        <textarea title="kv-string" class="form-control" name="kvString"></textarea>

                        {{ csrf_field() }}

                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>

            <hr>
            {{ dump(kvData) }}
            <hr>
            {{ dump(grouped) }}
            <hr>
            {{ dump(parsed) }}
            <hr>
            {{ dump(counts) }}
        </div>
    </div>
{% endblock %}

{% block inlineJs %}
    <script type="application/javascript">
        $(function () {
        });
    </script>
{% endblock %}

{% block modals %}
    <!-- Modal -->
    <div class="modal fade" role="dialog" id="myModal" tabindex="-1" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4></div>
                <div class="modal-body"><h4>Text in a modal</h4>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p> <h4>Popover in a modal</h4>
                    <p>This
                        <a href="#" class="btn btn-default popover-test" role="button" title=""
                           data-content="And here's some amazing content. It's very engaging. right?"
                           data-original-title="A Title">button
                        </a>
                        should trigger a popover on click.
                    </p>
                    <h4>Tooltips in a modal</h4>
                    <p>
                        <a href="#" class="tooltip-test" title="" data-original-title="Tooltip">This link</a>
                        and
                        <a href="#" class="tooltip-test" title="" data-original-title="Tooltip">that link</a>
                        should have tooltips on hover.
                    </p>
                    <hr>
                    <h4>Overflowing text to show scroll behavior</h4>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in,
                        egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel
                        augue laoreet rutrum faucibus dolor auctor.</p>
                    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque
                        nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
